{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'odiseo_sylius_rbac_plugin.ui.new_administration_role'|trans }} {{ parent() }}{% endblock %}

{% block content %}

{% include '@OdiseoSyliusRbacPlugin/Admin/AdministrationRole/Create/_header.html.twig' %}
{% include '@OdiseoSyliusRbacPlugin/Admin/AdministrationRole/Create/_breadcrumb.html.twig' %}

{% set readOperationType = constant('Odiseo\\SyliusRbacPlugin\\Access\\Model\\OperationType::READ') %}
{% set writeOperationType = constant('Odiseo\\SyliusRbacPlugin\\Access\\Model\\OperationType::WRITE') %}

<div class="ui segment">
    <form name="odiseo_sylius_rbac_plugin_administration_role" method="POST" class="ui loadable form" novalidate="novalidate" action={{ path('odiseo_sylius_rbac_plugin_admin_administration_role_create') }}>
        <input type="hidden" name="_method" value="PUT" />
        <div id="odiseo_sylius_rbac_plugin_administration_role">
            <div class="required field">
                <label for="odiseo_sylius_rbac_plugin_administration_role_name" class="required">{{ 'sylius.ui.name'|trans }}</label>
                <input type="text" id="odiseo_sylius_rbac_plugin_administration_role_name" name="administration_role_name" required="required" >
            </div>
            <table class="ui celled table" id="permission_table">
                <thead>
                    <tr>
                        <th>{{ 'odiseo_sylius_rbac_plugin.ui.permissions'|trans }}</th>
                        <th>{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.read'|trans }}</th>
                        <th>{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.write'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for permission in permissions %}
                    <tr>
                        <td data-label={{ 'odiseo_sylius_rbac_plugin.ui.permissions'|trans }}>{{ ('odiseo_sylius_rbac_plugin.ui.permission.' ~ permission)|trans }}</td>
                        <td data-label={{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.read'|trans }}>
                            <div class="ui toggle checkbox">
                                {% set permissionReadOperationType = "permissions[" ~ permission ~ "][" ~ readOperationType ~ "]" %}
                                <input type="checkbox" id={{ permissionReadOperationType }} name={{ permissionReadOperationType }}>
                            </div>
                        </td>
                        <td data-label={{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.write'|trans }}>
                            <div class="ui toggle checkbox">
                                {% set permissionWriteOperationType = "permissions[" ~ permission ~ "][" ~ writeOperationType ~ "]" %}
                                <input type="checkbox" id={{ permissionWriteOperationType }} name={{ permissionWriteOperationType }}>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="ui basic segment">
                <div class="ui buttons">
                    <button class="ui labeled icon primary button" type="submit"><i class="plus icon"></i>{{ 'sylius.ui.create'|trans }}</button>
                    <a href="{{ path('odiseo_sylius_rbac_plugin_admin_administration_role_index') }}" class="ui button">{{ 'sylius.ui.cancel'|trans }}</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
